<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604145888056-n7tmds8d96lbgio4c69br4d25qjskqah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604145888056-n7tmds8d96lbgio4c69br4d25qjskqah</string>
	<key>API_KEY</key>
	<string>AIzaSyA9QChORPKtc2sJhRYnFv93YRuBQigjDXk</string>
	<key>GCM_SENDER_ID</key>
	<string>604145888056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jason.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-c82b9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-c82b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604145888056:ios:afd997eb236369c148efcd</string>
</dict>
</plist>